<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <link name="M2M2_LIDAR">
    <inertial>
      <origin xyz="-0.0011981 -0.0001963 -0.067684" rpy="0 0 0" />
      <mass value="0.14455" />
      <inertia ixx="0.00016736" ixy="3.546E-08" ixz="1.4853E-08" iyy="0.00016695" iyz="4.7103E-08" izz="0.00018995" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find ors_robot)/meshes/M2M2_LIDAR.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find ors_robot)/meshes/M2M2_LIDAR.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="M2M2_LIDAR" type="fixed">
    <origin xyz="0.0016059 4.6046E-05 0.1054" rpy="0 0 0" />
    <parent link="plate" />
    <child link="M2M2_LIDAR" />
    <axis xyz="0 0 0" />
  </joint>

    <gazebo reference="M2M2_LIDAR">
        <material>Gazebo/Red</material>

        <sensor name="laser" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>false</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>20</max>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>--ros-args --remap ~/out:=scan</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>M2M2_LIDAR</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>
